.brand{
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    margin-top: 37px;
    margin-left: 80px;
    color: black;

}
.brandodot{
    color: #824FF1;
}
.header{
    display: flex;
}
h1{
    width: 495px;
    height: 152PX;
    font-family: "Ramaraja", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  margin-left: 120px;
  margin-top: 203px;
}
.content{
    font-family: "Roboto Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  max-width: 495px;
  max-height: 96px;
  margin-left: 120px;
  margin-top: 40px;
  color: #9A9A9A;

}
.main-btn{
    background-color: #824FF1;
    border-radius: 6px;
    width: 158px;
    height: 63px;
    margin-left: 120px;
    color: aliceblue;
    font-family: "Roboto Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}

   
.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 48px;
    font-family: "Roboto Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
.sign{
    margin-top: 48px; 
    font-family: "Roboto Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
.home{
    margin-left: 272px;
   
}
.about{
    margin-left: 38px;
}
.blog{
    margin-left: 38px;
}
.contact{
    margin-left: 38px;
}
.sign-in{
    margin-left: 150px ;
   
}
.sign-upbtn{
   
    background-color: #824FF1;
    border-radius: 6px;
    width: 70px;
    height: 30px;
    color: aliceblue;
    margin-left: 40px;
}

